a.purchase {
    float: left;
    background-color: dodgerblue;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
a.addtocart {
    float: left;
    background-color: dodgerblue;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
a.p{
    background-color: #ddd;
    color: black;
}
div.buy {
    float: right;
    margin-top: 15px;
    margin-right: 25px;
}
div.info {
    float: left;
    margin: 10px;
}
h2.productname{
    font-family: 'Rubik', sans-serif;
}
span.productname{
    font-family: 'Rubik', sans-serif;
}
p.description{
    font-family: 'Mulish@300', sans-serif;
}
h3.purchaseprice{
    font-family: "Poppins@500", sans-serif;
}
#productindacator{
    margin-left: 10px;
}
img.productpicture{
    width: 250px;
    height: 250px;
}